flowExample/flows_ruifenshen-20150212.json
[{"type":"tab","id":"afc8f133.0622f8","label":"Sheet 1"},{"type":"tab","id":"8a9bde45.7eb67","label":"Sheet 2"},{"type":"tab","id":"974ff465.28b5d","label":"Sheet 3"},{"type":"tab","id":"f7691ebd.6d3498","label":"Sheet 4"},{"type":"tab","id":"fc4793ce.d85118","label":"Sheet 5"},{"type":"tab","id":"510567f4.2c8e","label":"Sheet 6"},{"id":"380e51e8.01a24e","type":"inject","name":"","topic":"","payload":"{\"0\":65,\"1\":\"c\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":183,"y":111,"z":"afc8f133.0622f8","wires":[["17977b18.774445"]]},{"id":"17977b18.774445","type":"funcc_GEN","name":"","x":378,"y":111,"z":"afc8f133.0622f8","wires":[["4e449468.54af1c"]]},{"id":"4e449468.54af1c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":634,"y":123,"z":"afc8f133.0622f8","wires":[]},{"id":"5a1e3ddb.2f5454","type":"funcd_GEN","name":"","x":337,"y":233,"z":"afc8f133.0622f8","wires":[["b1900585.46bd28"]]},{"id":"b7ff2c40.a304a8","type":"inject","name":"","topic":"","payload":"{\"0\":234.78, \"1\":1234.11}","payloadType":"string","repeat":"","crontab":"","once":false,"x":110,"y":232,"z":"afc8f133.0622f8","wires":[["5a1e3ddb.2f5454"]]},{"id":"b1900585.46bd28","type":"debug","name":"","active":true,"console":"false","complete":"false","x":549,"y":248,"z":"afc8f133.0622f8","wires":[]},{"id":"15eae9e8.f51746","type":"inject","name":"","topic":"","payload":"{\"0\":12.3e18}","payloadType":"string","repeat":"","crontab":"","once":false,"x":104,"y":319,"z":"afc8f133.0622f8","wires":[["e68d29d6.6811f8"]]},{"id":"6a299678.4c1f08","type":"debug","name":"","active":true,"console":"false","complete":"false","x":493,"y":324,"z":"afc8f133.0622f8","wires":[]},{"id":"e68d29d6.6811f8","type":"funcf_GEN","name":"","x":290,"y":329,"z":"afc8f133.0622f8","wires":[["6a299678.4c1f08"]]},{"id":"714bd216.820f04","type":"inject","name":"","topic":"","payload":"{\"0\": \"0x20\", \"1\":\"100000000\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":117,"y":416,"z":"afc8f133.0622f8","wires":[["57a8b7f4.b91ba8"]]},{"id":"66fc2f7d.a965f","type":"debug","name":"","active":true,"console":"false","complete":"false","x":526,"y":417,"z":"afc8f133.0622f8","wires":[]},{"id":"57a8b7f4.b91ba8","type":"funcull_GEN","name":"","x":282,"y":422,"z":"afc8f133.0622f8","wires":[["66fc2f7d.a965f"]]},{"id":"b1786f78.8f9908","type":"inject","name":"","topic":"","payload":"{\"0\": \"0x20\", \"1\":\"100000000\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":126,"y":509,"z":"afc8f133.0622f8","wires":[["ca3119e1.c1b358"]]},{"id":"dea2ce0.6219cb","type":"debug","name":"","active":true,"console":"false","complete":"false","x":535,"y":510,"z":"afc8f133.0622f8","wires":[]},{"id":"ca3119e1.c1b358","type":"funcll_GEN","name":"","x":293,"y":513,"z":"afc8f133.0622f8","wires":[["dea2ce0.6219cb"]]},{"id":"72d9c66c.ce07a","type":"testEnum_GEN","name":"","x":333,"y":189,"z":"8a9bde45.7eb67","wires":[["bed31b65.32d5a8"]]},{"id":"72d35c5e.1fe86c","type":"inject","name":"","topic":"","payload":"{\"0\": 2}","payloadType":"string","repeat":"","crontab":"","once":false,"x":166,"y":184,"z":"8a9bde45.7eb67","wires":[["72d9c66c.ce07a"]]},{"id":"bed31b65.32d5a8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":575,"y":185,"z":"8a9bde45.7eb67","wires":[]},{"id":"d82bdf17.e578b8","type":"funcP_GEN","name":"","x":368,"y":166,"z":"974ff465.28b5d","wires":[["61b6c8a.19a7e38"],["a9786c96.588cc8"],["8d8defaa.482a98"],["6e4d04eb.d0d84c"]]},{"id":"1ff36740.cc31e9","type":"inject","name":"","topic":"","payload":"{\"0\":[\"0x10\",\"0x11\",\"012\",13],\"1\":[20], \"2\":[30]}","payloadType":"string","repeat":"","crontab":"","once":false,"x":88,"y":174,"z":"974ff465.28b5d","wires":[["d82bdf17.e578b8"]]},{"id":"61b6c8a.19a7e38","type":"debug","name":"","active":true,"console":"false","complete":"false","x":612,"y":70,"z":"974ff465.28b5d","wires":[]},{"id":"a9786c96.588cc8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":586,"y":143,"z":"974ff465.28b5d","wires":[]},{"id":"8d8defaa.482a98","type":"debug","name":"","active":true,"console":"false","complete":"false","x":643,"y":198,"z":"974ff465.28b5d","wires":[]},{"id":"6e4d04eb.d0d84c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":620,"y":241,"z":"974ff465.28b5d","wires":[]},{"id":"332eeb.47392116","type":"funcFP_GEN","name":"","x":301,"y":371,"z":"974ff465.28b5d","wires":[["b0ad05d3.c1e4"],["9dbe1dfc.a5f93"],["8e340607.9c2e1"],["dd8b2d89.225b"]]},{"id":"95468d1b.dc8248","type":"inject","name":"","topic":"","payload":"{\"0\":[2.5,8.5],\"1\":[20.6e80,70.8e56],\"2\":[30.6,9.5e100]}","payloadType":"string","repeat":"","crontab":"","once":false,"x":91,"y":373,"z":"974ff465.28b5d","wires":[["332eeb.47392116"]]},{"id":"b0ad05d3.c1e4","type":"debug","name":"","active":true,"console":"false","complete":"false","x":571,"y":324,"z":"974ff465.28b5d","wires":[]},{"id":"9dbe1dfc.a5f93","type":"debug","name":"","active":true,"console":"false","complete":"false","x":553,"y":385,"z":"974ff465.28b5d","wires":[]},{"id":"8e340607.9c2e1","type":"debug","name":"","active":true,"console":"false","complete":"false","x":535,"y":448,"z":"974ff465.28b5d","wires":[]},{"id":"dd8b2d89.225b","type":"debug","name":"","active":true,"console":"false","complete":"false","x":504,"y":530,"z":"974ff465.28b5d","wires":[]},{"id":"596d4f5b.624178","type":"changeStr_charPtr_charPtr_charPtr_GEN","name":"","x":402,"y":288,"z":"f7691ebd.6d3498","wires":[["5a680b99.f13bbc"],["eafc8d7f.d2231"],["eadc4113.43f8a8"],["f08054c0.f10ff8"]]},{"id":"7921c1db.9115f","type":"inject","name":"","topic":"","payload":"{\"0\":\"hello\", \"1\":\"ab\", \"2\":\"d\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":85,"y":294,"z":"f7691ebd.6d3498","wires":[["596d4f5b.624178"]]},{"id":"5a680b99.f13bbc","type":"debug","name":"","active":true,"console":"false","complete":"false","x":687,"y":220,"z":"f7691ebd.6d3498","wires":[]},{"id":"eafc8d7f.d2231","type":"debug","name":"","active":true,"console":"false","complete":"false","x":710,"y":284,"z":"f7691ebd.6d3498","wires":[]},{"id":"eadc4113.43f8a8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":697,"y":343,"z":"f7691ebd.6d3498","wires":[]},{"id":"f08054c0.f10ff8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":702,"y":411,"z":"f7691ebd.6d3498","wires":[]},{"id":"314852cb.8c7f46","type":"inject","name":"","topic":"","payload":"{\"0\":\" var arg0 = function(a) {     return io.func_int_r_floatp(a);   }\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":108,"y":140,"z":"510567f4.2c8e","wires":[["50e83f97.ec1de8"]]},{"id":"e103c74.9b08738","type":"debug","name":"","active":true,"console":"false","complete":"false","x":556,"y":133,"z":"510567f4.2c8e","wires":[]},{"id":"50e83f97.ec1de8","type":"func_int_r_fp1_GEN","name":"","x":278,"y":144,"z":"510567f4.2c8e","wires":[["e103c74.9b08738"]]},{"id":"a61c6ed.4318f9","type":"Funcvv_GEN","name":"","x":266,"y":606,"z":"afc8f133.0622f8","wires":[[]]},{"id":"1b46e049.0eec","type":"inject","name":"","topic":"","payload":"\"\"","payloadType":"string","repeat":"","crontab":"","once":false,"x":116,"y":602,"z":"afc8f133.0622f8","wires":[["a61c6ed.4318f9"]]},{"id":"502d7393.16db04","type":"inject","name":"","topic":"","payload":"\"\"","payloadType":"string","repeat":"","crontab":"","once":false,"x":119,"y":712,"z":"afc8f133.0622f8","wires":[["1a4c8874.529478"]]},{"id":"1a4c8874.529478","type":"funcvn_GEN","name":"","x":307,"y":722,"z":"afc8f133.0622f8","wires":[[]]},{"id":"9f0997dc.09a42","type":"Funcss_GEN","name":"","x":257,"y":480,"z":"fc4793ce.d85118","wires":[["ca020ceb.f4b138"],["a7c78ced.9f2c6"]]},{"id":"6c1ee55b.8f9c1c","type":"inject","name":"","topic":"","payload":"{\"0\":[\"ss1\": 10, \"e\": 0, \"e1\": 0, \"ss2\": [10,20,30]]}","payloadType":"string","repeat":"","crontab":"","once":false,"x":72,"y":480,"z":"fc4793ce.d85118","wires":[[]]},{"id":"ca020ceb.f4b138","type":"debug","name":"","active":true,"console":"false","complete":"false","x":479,"y":468,"z":"fc4793ce.d85118","wires":[]},{"id":"a7c78ced.9f2c6","type":"debug","name":"","active":true,"console":"false","complete":"false","x":466,"y":529,"z":"fc4793ce.d85118","wires":[]},{"id":"e645583a.66d81","type":"inject","name":"","topic":"","payload":"{\"0\": [ {\"ss1\": \"10\" ,\"e\": 0, \"e1\": 0, \"ss2\": [10,\"0x20\",\"030\"]}]}","payloadType":"string","repeat":"","crontab":"","once":false,"x":64,"y":534,"z":"fc4793ce.d85118","wires":[["9f0997dc.09a42"]]},{"id":"6b277d33.446914","type":"Func_GEN","name":"","x":349,"y":658,"z":"fc4793ce.d85118","wires":[["1e931714.aa12c9"],[]]},{"id":"5695e087.072798","type":"inject","name":"","topic":"","payload":"{\"0\":{\"a\":[10,20,30,40], \"b\": 21.2e2, \"e\":0, \"str\":\"nihao\", \"st\" : [ {\"ss1\": \"10\" ,\"e\": 0, \"e1\": 0, \"ss2\": [10,\"0x20\",\"030\"]}]},\"1\":[20,\"0x10\"]}","payloadType":"string","repeat":"","crontab":"","once":false,"x":88,"y":647,"z":"fc4793ce.d85118","wires":[["6b277d33.446914"]]},{"id":"1e931714.aa12c9","type":"debug","name":"","active":true,"console":"false","complete":"false","x":524,"y":611,"z":"fc4793ce.d85118","wires":[]}]